:root {
	box-sizing: border-box;
	--main-color: #1F2326;
	--dark: #292C31;
	--red: #FF4656;
	--gray: #505155;
	--white: #F8F8F8;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: var(--main-color);
	background-color: var(--main-color);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.wrapper {
	max-width: 3099px;
	margin: 0 auto;
	padding: 0;
	top: 0;
	left: 0;
}

.container {
	max-width: 2663px;
	margin: 0 auto;
	padding: 0;
}

.decor-circle {
	border-radius: 50%;
	position: absolute;
	z-index: -1;
}

.--first-red {
	width: 2215px;
	height: 2216px;
	left: -385px;
	top: -711px;
	background-color: var(--red);
}

.--second-red {
	width: 44px;
	height: 44px;
	left: 2836px;
	top: 74px;
	background-color: var(--red);
}

.--first-white {
	width: 268px;
	height: 269px;
	left: 2727px;
	top: 182px;
	background-color: #EFEFEF;
}

.--first-gray {
	width: 98px;
	height: 98px;
	left: 2946px;
	top: 475px;
	background-color: var(--gray);
}

.--second-gray {
	width: 63px;
	height: 63px;
	left: 112px;
	top: 2082px;
	background-color: var(--gray);
}

.--second-white {
	width: 470px;
	height: 470px;
	left: 177px;
	top: 2114px;
	background-color: #FEFEFE;
}

.--dark {
	width: 1443px;
	height: 1443px;
	left: 2018px;
	top: 1392px;
	background-color: var(--dark);
}

.figma {
	display: flex;
	position: absolute;
	justify-content: flex-start;
	align-items: center;
	gap: 24px;
	top: 80px;
	left: 80px;
}

.figma__text {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #F8F8F8;
}

.header {
	height: 132px;
	margin-top: 303px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 97px 0 73px;
	background-color: var(--main-color);
	border-radius: 32px 32px 0 0;
	box-shadow: 30px 0px 40px 20px rgba(0, 0, 0, 0.2);
}

.left-logo {
	padding-right: 60px;
	border-right: 2px solid #FFFFFF;
}

.right-logo {
	margin-left: 60px;
}

.header__nav {
	flex: 1;
	margin-left: 86px;
	margin-right: 752px;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-item:nth-child(3) .list-item__link::after,
.list-item:nth-child(5) .list-item__link::after {
	content: '';
	width: 7px;
	height: 6px;
	position: absolute;
	top: 6px;
	right: -25px;
	border: 6px solid;
	border-color: #FFFFFF transparent transparent;
	transition: all 0.5s ease-out;
}

.header__user {
	position: relative;
}

.user__avatar {
	width: 42px;
	height: 42px;
	margin-right: 16px;
	border-radius: 50%;
	vertical-align: middle;
}

.list-item, 
.list-item__link,
.user__name {
	position: relative;
}

.list-item__link,
.user__name {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.list-item__link,
.user__name {
	display: inline-block;
}

.user__name::after {
	content: '';
	width: 7px;
	height: 6px;
	position: absolute;
	top: 6px;
	right: -25px;
	border: 6px solid;
	border-color: #FFFFFF transparent transparent;
	transition: all 0.5s ease-out;
}

.list-item:nth-child(3):hover a::after,
.list-item:nth-child(5):hover a::after,
.header__user:hover .user__name::after {
	top: 0;
	transform: matrix(1, 0, 0, -1, 0, 0);
}

.hidden-menu {
	display: none;
	padding: 20px;
	position: absolute;
	top: 35px;
	left: 50px;
	transition: all 0.5s ease-out;
	background-color: var(--main-color);
	border: 2px solid var(--white);
}
.list-item .hidden-menu {
	left: 0;
}

.hidden-menu__item {
	height: 14px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
}

.hidden-menu__item a {
	color: inherit;
}

.hidden-menu__item + .hidden-menu__item {
	margin-top: 20px;
}

.list-item:nth-child(3):hover .hidden-menu,
.list-item:nth-child(5):hover .hidden-menu {
	display: block;
}

.header__user:hover .hidden-menu {
	display: block;
}

.main {
	height: 1499px;
	background-color: var(--red);
	background-image: url(../images/background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	box-shadow: 
		0px -70px 40px 20px rgba(0, 0, 0, 0.2), 
		0px 70px 40px 20px rgba(0, 0, 0, 0.2);
}

.agents {
	height: 1209px;
	display: flex;
	padding: 0 0 0px 100px;
}

.agents__inner {
	max-width: 290px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.agents__inner::before {
	content: '';
	width: 40px;
	height: 8px;
	position: absolute;
	top: 185px;
	left: 0;
	background: var(--main-color);
	opacity: 0.5;
}

.agents__inner::after {
	content: '';
	width: 232px;
	height: 8px;
	background-color: var(--main-color);
	position: absolute;
	bottom: 20px;
	left: 0;
	opacity: 0.5;
}

.💎-1️⃣ {
	position: absolute;
	width: 8px;
	height: 8px;
	top: 440px;
	left: 0;
	background-color: var(--main-color);
	opacity: 0.5;
}

.💎-2️⃣ {
	position: absolute;
	width: 8px;
	height: 8px;
	top: 83px;
	left: 289px;
	background-color: var(--main-color);
	opacity: 0.5;
}

.💎-3️⃣ {
	position: absolute;
	width: 8px;
	height: 8px;
	top: 83px;
	left: 313px;
	background-color: var(--main-color);
	opacity: 0.5;
}

.agents__logo {
	align-self: end;
	width: 80px;
	height: 99px;
	margin-bottom: 95px;
	opacity: 0.5;
}

.--rotate {
	transform: rotate(90deg);
}

.agents__title.main {
	height: 210px;
	margin-top: 45px;
	margin-left: -420px;
}

.agents__title,
.item__title {
	font-family: 'Druk Wide';
	font-weight: 500;
	font-size: 156px;
	line-height: 204px;
	letter-spacing: 0.1em;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #FFFFFF;
	color: transparent;
	transition: all 0.5s ease-out;
}

.agents__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 144px;
	margin-left: 115px;
	background-color: transparent;
}

.content__item {
	width: 440px;
	height: 990px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--main-color);
	border: 2px solid var(--main-color);
	border-radius: 30px 0 0;
	transition: all 0.5s ease-out;
	position: relative;
}

.content__item.--second {
	background-size: contain;
}

.content__item.--first::before {
	content: '';
	width: 40px;
	height: 35px;
	position: absolute;
	top: -35px;
	right: 73px;
	background: var(--main-color);
	opacity: 0.5;
}

.content__item.--first::after {
	content: '';
	width: 35px;
	height: 40px;
	position: absolute;
	right: -70px;
	bottom: 5px;
	background: var(--main-color);
	opacity: 0.5;
}

.content__item.--second::before {
	content: '';
	width: 24px;
	height: 8px;
	position: absolute;
	top: 75px;
	right: -26px;
	background: var(--main-color);
	opacity: 0.5;
}

.content__item.--second::after {
	content: '';
	width: 37px;
	height: 8px;
	position: absolute;
	right: -39px;
	bottom: 250px;
	background: var(--main-color);
	opacity: 0.5;
}

.💎-4️⃣ {
	position: absolute;
	width: 8px;
	height: 8px;
	top: 200px;
	right: -35px;
	background-color: var(--main-color);
	opacity: 0.5;
}

.💎-5️⃣ {
	position: absolute;
	width: 8px;
	height: 8px;
	right: -35px;
	bottom: 130px;
	background-color: var(--main-color);
	opacity: 0.5;
}

.content__item.--third::before {
	content: '';
	width: 232px;
	height: 8px;
	position: absolute;
	top: -39px;
	right: -60px;
	background: var(--main-color);
	opacity: 0.5;
}

.content__item.--third::after {
	content: '';
	width: 35px;
	height: 40px;
	position: absolute;
	right: -37px;
	bottom: 665px;
	background: var(--main-color);
	opacity: 0.5;
}

.content__item.--fourth::before {
	content: '';
	width: 31px;
	height: 8px;
	position: absolute;
	top: 590px;
	left: -32px;
	background: var(--main-color);
	opacity: 0.5;
}

.content__item.--fourth::after {
	content: '';
	width: 40px;
	height: 20px;
	position: absolute;
	right: 80px;
	bottom: -70px;
	background: var(--main-color);
	opacity: 0.5;
}

.💎-6️⃣ {
	position: absolute;
	width: 8px;
	height: 8px;
	bottom: -85px;
	left: -2px;
	background-color: var(--main-color);
	opacity: 0.5;
}

.💎-7️⃣ {
	position: absolute;
	width: 8px;
	height: 8px;
	bottom: -85px;
	left: 32px;
	background-color: var(--main-color);
	opacity: 0.5;
}

.content__item:hover .item__title {
	-webkit-text-stroke: 2px var(--main-color);
}

.content__item:hover .item__abilities .ability-img {
	filter: invert(1);
}

.content__item:hover .item__abilities  {
	background-color: #FFFFFF;
	border-color: var(--main-color);
	transform: matrix(1, 0, 0, -1, 0, 0);
}

.content__item:hover {
	background-color: var(--white);
}

.content__item.--first {
	background-image: url(../images/hero-1-img.png);
}

.content__item.--second {
	background-image: url(../images/hero-2-img.png);
}

.content__item.--third {
	background-image: url(../images/hero-3-img.png);
}

.content__item.--fourth {
	background-image: url(../images/hero-4-img.png);
}

.item__subtitle {
	font-family: 'Druk Wide';
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	letter-spacing: 0.1em;
	color: var(--red);
	white-space: nowrap;
}

.item__content {
	margin-right: 400px;
}

.item__title.sub {
	font-weight: 500;
	font-size: 72px;
	line-height: 94px;
	letter-spacing: 0.1em;
}

.item__abilities {
	width: 440px;
	height: 110px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--main-color);
	border: 2px solid var(--white);
	transition: all 0.5s ease-out;
	margin-top: 800px;
	margin-left: 31px;
}

.agent__abilities {
	width: 2663px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
	margin-left: -120px;
	margin-top: 90px;
}

.ability__item {
	width: 724px;
	height: 248px;
	display: flex;
	justify-content: center;
	position: relative;
	background-color: var(--white);
	border-radius: 30px 0 0;
	border: 2px solid ;
}

.ability__item:last-child {
	margin-left: 24px;
}

.ability__item-content {
	margin-left: 58px;
}

.ability__item:last-child {
	width: 219px;
	height: 248px;
}

.ability__item-title {
	font-family: 'Druk Wide';
	margin-top: 28px;
	font-weight: 500;
	font-size: 40px;
	line-height: 52px;
	max-width: 340px;
	color: #C4C4C4;
	text-transform: uppercase;
}

.ability__item-subtitle {
	font-family: 'Druk Wide';
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	color: #000000;
	margin: 26px 0;
}

.ability__item-text {
	width: 315px;
}

.ability__item-img {
	width: 190px;
	height: 182px;
	align-self: end;
	margin-left: 43px;
	margin-right: 118px;
	background-color: var(--red);
	position: relative;
}

.ability__item-img::after {
	content: '';
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: invert(1);
	z-index: 2;
}

.ability__item-img:nth-child(2) {
	margin-left: 35px;
	margin-right: 100px;
}

.ability__item:first-child .ability__item-img::after {
	width: 168px;
	height: 161px;
	top: -33px;
	left: 65px;
	background-image: url(../images/ability-13.svg);
}

.ability__item:nth-child(2) .ability__item-img::after {
	width: 170px;
	height: 170px;
	top: -40px;
	left: 50px;
	background-image: url(../images/ability-15.svg);
}

.ability__item:nth-child(3) .ability__item-img::after {
	width: 176px;
	height: 156px;
	bottom: 55px;
	left: 55px;
	background-image: url(../images/ability-16.svg);
}

.ability__item-pointer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pointer {
	width: 21px;
	height: 18px;
	border: 11px solid;
	border-color: transparent transparent var(--main-color);
	transition: all 0.5s ease-out;
	transform: matrix(0, -1, -1, 0, 0, 0) translateY(-50%);
}

.footer {
	height: 132px;
	background-color: var(--white);
	border-radius: 0px 0px 32px 32px;
	box-shadow: 30px 40px 40px 20px rgba(0, 0, 0, 0.2);
}